<%= simple_form_for([@lesson_order]) do |f| %>
  <div class="container d-flex flex-column py-2 bg-info" style="height: 100vh;" data-controller="dropdown">
    <h1>Choose your lesson</h1>

    <div class="d-flex ">
      <div class="d-flex flex-row align-items-center ">
        <iconify-icon class="px-1" icon="mingcute:chopsticks-line" style="color: #eebf24; font-size: 48px; align-items: center;"></iconify-icon>
      </div>
      <div class="d-flex flex-row form-check ps-2 justify-content-end bg-white align-items-center rounded-3">
        <label class="form-check-label align-items-center d-flex w-100 ps-2">
          <%= f.check_box :is_subscribed, as: :boolean, class: "form-check bigger-checkbox col-6 align-items-center ps-2", id: "subscribed" %>
          <span class="ps-2">I would like my block of lessons to automatically renew once all the lessons are used up</span>
      </div>
        </label>
    </div>


  <div class="btn-group pt-2 bg-light-gray rounded-4" style="margin-bottom: -12px;" data-dropdown-target="durationField" id="button-div">

      <button type="button" data-dropdown-target="dropdownButton" class="btn col-12 dropdown-toggle" id="dropdown-icon" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
        Duration
      </button>
    <ul data-dropdown-target="dropdownList" class="dropdown-menu dropdown-menu-lg-end col-12">
    <% @all_lessons.lesson_times.each do |duration| %>
    <li  data-action="click->dropdown#fire" class="dropdown-item"><%= "#{duration} minutes" %></li>
      <% end %>
    </ul>
  </div>



    <% @packages.each do |package| %>
      <% if package > 1 %>
        <div class="align-items-center justify-content-center" >

          <div class="d-flex flex-column col-12 border border-2 bg-light-gray rounded-4 justify-content-center" data-dropdown-target="package" data-action="click->dropdown#packageType" value="<%=package%>" id="lesson-package" style="margin-bottom: 20px; margin-top: 20px; height: 75px">

<<<<<<< Updated upstream
            <div class="text-center" id="discount-div">
              <span><%= package %>%</span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <span class="lesson-text" value="40"><%= package %> Lessons</span>

              <div class="total-price d-flex flex-column text-center">
                <%# Applying some arbitrary subscription discount for now %>
                <div>
                  <span class="monthly-price bg-primary rounded-3">£<%= @all_lessons.round_price((@lesson_price * package) * 0.70)%>/monthly<span>
                </div>
                <span class="total-text">Total £<%= @all_lessons.round_price(@lesson_price * package) %></span>
                <span class="fs-6">£ <%= @all_lessons.round_price((@lesson_price * package) / package) %>/ lesson</span>
              </div>
              <i class="fa-solid fa-chevron-right" style="font-size: 30px; padding-right: 20px;"></i>
            </div>

=======
          <div class="text-center" id="discount-div">
            <span><%= package %>%</span>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="lesson-text" value="40"><%= package %> Lessons</span>

            <div class="total-price d-flex flex-column text-center">
              <%# Applying some arbitrary subscription discount for now %>
              <div>
                <span class="monthly-price bg-primary rounded-3">£<%= @all_lessons.round_price((@lesson_price * package) * 0.70)%>/monthly<span>
              </div>

              <span class="total-text">Total £<%= @all_lessons.round_price(@lesson_price * package) %></span>
              <span class="fs-6">£ <%= @all_lessons.round_price((@lesson_price * package) / package) %>/ lesson</span>

            </div>

            <i class="fa-solid fa-chevron-right" style="font-size: 30px; padding-right: 20px;"></i>
>>>>>>> Stashed changes
          </div>

        <% else %>
        <div class="text-center text-primary text-decoration-underline" data-dropdown-target="package" data-action="click->dropdown#packageType" value="<%=package%>">
          <strong>Choose a single lesson for <%= @all_lessons.round_price(@lesson_price) %></strong>
        </div>
<<<<<<< Updated upstream
        <% end %>
        <% end %>
        <div class="text-center mt-3">
          <span style="font-size: 13px;">Terms and conditions</span>
          <i class="fa-solid fa-chevron-right" style="font-size: 11px; margin-left: 5px;"></i>
        </div>
        <%= f.input :custom_hidden_field, as: :hidden, input_html: { value: "", data: { dropdown_target: "hiddenDropdown"} }%>

        <%= f.input :package , as: :hidden, input_html: { value: "", data: { dropdown_target: "hiddenPackage" }} %>
=======
      </div>

    <% else %>

      <div class="text-center text-primary text-decoration-underline mt-4" data-dropdown-target="package" data-action="click->dropdown#packageType" value="<%=package%>">
        <strong>Choose a single lesson for <%= @all_lessons.round_price(@lesson_price) %></strong>
      </div>

    <% end %>

  <% end %>

      <div class="text-center mt-4">
        <span style="font-size: 13px;">Terms and conditions</span>
        <i class="fa-solid fa-chevron-right" style="font-size: 11px; margin-left: 5px;"></i>
      </div>

    <%= f.input :custom_hidden_field, as: :hidden, input_html: { value: "", data: { dropdown_target: "hiddenDropdown"} }%>
>>>>>>> Stashed changes

        <%= f.button :submit, data: { dropdown_target: "submitButton", action: "click->dropdown#lessonFormSubmit" }, style: "visibility:hidden;"%>
  </div>

<%  end %>
