<%= simple_form_for([@lesson, @lesson_order]) do |f| %>
  <div class="container py-2 bg-info" style="height: 100vh;">
    <h1>Choose your lesson</h1>

    <div class="d-flex ">
      <div class="d-flex flex-row align-items-center ">
        <iconify-icon class="px-1" icon="mingcute:chopsticks-line" style="color: #eebf24; font-size: 48px; align-items: center;"></iconify-icon>
      </div>
      <div class="d-flex flex-row form-check ps-2 justify-content-end bg-white align-items-center rounded-3">
        <label class="form-check-label align-items-center d-flex w-100 ps-2">
          <%= f.check_box :is_subscribed, as: :boolean, class: "form-check bigger-checkbox col-6 align-items-center ps-2", id: "subscribed" %>
          <span class="ps-2">I would like my block of lessons to automatically renew once all the lessons are used up</span>
      </div>
        </label>
    </div>

    <% user_input = params[:user_input] # Replace this with actual user input or logic %>
    <% lessons_with_duration = Lesson.all%>
    <%= f.input :lesson_id, as: :select, collection: lessons_with_duration.pluck(:duration, :id).map { |duration, id| "#{duration} minutes" }, include_blank: 'Duration', label: false, class: "duration-input"%>
    <%# </div> %>

    <%= f.hidden_field :package, value: 1 %>

    <div class="row flex-column justify-content-center">

      <div class="col-6 border border-5">
        <h1>40 Lessons <%= Lesson.all.first.price * 40 %></h1>
      </div>
      <div class="col-6">
        <h1>20 Lessons <%= Lesson.all.first.price * 20%></h1>
      </div>
      <div class="col-6">
        <h1>15 Lessons <%= Lesson.all.first.price * 10%></h1>
      </div>
      <div class="col-6">
        <h1>5 Lessons <%= Lesson.all.first.price * 5 %></h1>
      </div>
    </div>
      <%= f.submit %>
  </div>
<%  end %>
